.gradle
.idea
*.iml
bin
build
target
local.properties
logs/
out
*.jar
.deeplearning4j/
*.pb
checkpoint*.*
*.tgz
*.tar.gz
resources-archive/artifacts/
.DS_Store
src/main/resources/*.txt
src/main/resources/NewsData
src/main/resources/paravec
*.deb
*.gz
data/*
*.pb
pathToSaveModel.txt